<div class='list-space'>
  <div class='row-fluid'>
  <h1 class='span8 pull-left'>Ideas</h1> 

  <button class="btn btn-success new-post span3 pull-right"><%= link_to 'New Post', new_post_path %></button>
  </div>

  <br>
  <br>

  <% @posts.each do |post| %>
    <div class='row-fluid'>
      <div class='well'>
        <div class='span12 idea-head'><%= post.title %></div> 
        <br>
        <br>
        <br>
        Posted by: <%= post.user.name %> on <%= post.created_at.month %>/<%= post.created_at.day %>
        <br>
        <br>
        <div class='span12'>
          <a href="#show<%= post.id %>" data-pass="<%= post.id %>" id='post-button<%= post.id %>'><b>Read more...</b></a>
        </div>
        <br>
        <div class="span9 pull-left">
          <%= link_to 'Edit post', edit_post_path(post), :style=>"font-size:8px;"%>
        </div>
        <div class="span2 pull-right">
          <%= link_to "", post_vote_path(:id=>post.id, :direction=>1), :class=>"icon-arrow-up" %> <%= link_to "", post_vote_path(:id=>post.id, :direction=>0), :class=>"icon-arrow-down" %> (<%= post.votes %>)
        </div>
        <br>
        <script type="text/javascript">
          var $div_on = $('#post-button<%= post.id %>')

          $div_on.click(function(){
            if($('.show<%= post.id %>').is(":hidden")){
              $('.show<%= post.id %>').show(1000)
            }
            else{
              $('.show<%= post.id %>').hide()
            }
          })
        </script>
      </div>
    </div>
    <div class='row-fluid show-content show<%= post.id %>'>
      <div class='content-space'>
        <h4><%= post.title %></h4>
        <%= post.content %>
        <div id="show<%= post.id %>"></div>
      </div>
    </div>
  <% end %>

  <br />
</div>